Source: libmrss
Priority: optional
Section: libs
Maintainer: Varun Hiremath <varun@debian.org>
Uploaders: Torsten Werner <twerner@debian.org>
Build-Depends: debhelper (>= 6), cdbs, libnxml0-dev (>= 0.18.1-4), quilt
Standards-Version: 3.8.2
Homepage: http://www5.autistici.org/bakunin/libmrss/doc/index.html
Vcs-Svn: https://bollin.googlecode.com/svn/libmrss/
Vcs-Browser: http://bollin.googlecode.com/svn/libmrss/

Package: libmrss0-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libmrss0 (= ${binary:Version}), libnxml0-dev (>= 0.18.1-4)
Description: libmrss development files
 libmrss is a C library for parsing, writing and creating RSS 
 (0.91, 0.92, 1.0, 2.0) files or streams.
 . 
 This package provides a static library and C header files.

Package: libmrss0
Provides: libmrss-abi-${source:Upstream-Version}
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${libnxml-abi:Depends}
Description: C library for parsing, writing and creating RSS files or streams
 libmrss is a C library for parsing, writing and creating RSS 
 (0.91, 0.92, 1.0, 2.0) files or streams.
 . 
 This package contains the shared libraries.

Package: libmrss0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrss0 (= ${binary:Version})
Recommends: libnxml0-dbg
Description: libmrss debugging symbols
 libmrss is a C library for parsing, writing and creating RSS 
 (0.91, 0.92, 1.0, 2.0) files or streams.
 .
 This package ships the debugging symbols.
