#!/usr/bin/make -f

DEB_COMPRESS_EXCLUDE := .c

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_DH_MAKESHLIBS_ARGS := -V "libmrss0, libmrss-abi-$(DEB_UPSTREAM_VERSION)"

get-orig-source:
	-uscan --upstream-version 0 --rename
